.nav-link img {
    width: 100px;
    height: 100px;
}

.navbar{
    background-color: #343a40; /* Change to your desired background color */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff; /* Change to your desired text color */
}



